<div class="follow-module">
    <form action="/follow" method="post" class="mb-0 ms-3">
        <input type="hidden" name="followId" value="<%=followId%>">
        <button type="submit" class="btn btn-outline-primary btn-sm">Follow</button>
    </form>
</div>