<div class="card  register-module">
    <div class="card-body">
        <h4 class="mb-3">Register</h4>
        <% if(error.length && messageType === "REGISTER"){ %>
        <%- include('error', {message: error}) %>
        <% } %>
        <form method="post" action="/register" id="registerForm">
            <div class="mb-3">
                <label for="register-email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" name="email"
                    required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" aria-describedby="UserHelp" name="username"
                    required>
            </div>
            <div class="mb-3">
                <label for="register-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="register-password" name="password" minlength="6"
                    required>
            </div>
            <div class="mb-3">
                <label for="password-again" class="form-label">Password again</label>
                <input type="password" class="form-control" id="password-again" name="passwordAgain" minlength="6"
                    required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="gdpr" required>
                <label class="form-check-label" for="gdpr">Agree to <a href="/gdpr">Terms and Conditions</a></label>
            </div>
            <div class="d-flex align-items-center justify-content-end">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">

</script>