<ul class="nav nav-pills flex-column mb-auto py-2">
  <li class="nav-item my-1">
    <a class="nav-link active" aria-current="page" href="/">
      <i class="fa fa-home" aria-hidden="true"></i>
      Home
    </a>
  </li>
  <!--
  <li class="nav-item my-1">
    <a class="nav-link" aria-current="page" href="/search">
      <i class="fa fa-search" aria-hidden="true"></i>
      Search
    </a>
  </li>
  <li class="nav-item my-1">
    <a class="nav-link" aria-current="page" href="/following">
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      Following
    </a>
  </li>
  <li class="nav-item my-1">
    <a class="nav-link" aria-current="page" href="/profile">
      <i class="fa fa-user" aria-hidden="true"></i>
      Profile
    </a>
  </li>
-->
  <li class="nav-item">
    <form method="post" action="/logout">
      <button class="nav-link w-100 text-start" type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i>
        Logout</button>
    </form>
  </li>
</ul>
<div class="d-grid">
  <button class="btn btn-primary btn-lg" type="button" onclick="createPost()">Post</button>
</div>
<script type="text/javascript">
  function createPost() {
    console.log('createPost')
    var createPostModal = new bootstrap.Modal(document.getElementById("createPostModal"), {});
    createPostModal.show();
  }

</script>