<div class="follow-module">
    <form action="/unfollow" method="post" class="mb-0 ms-3">
        <input type="hidden" name="followId" value="<%=followId%>">
        <button type="submit" class="btn btn-primary btn-sm">Followed</button>
    </form>
</div>