<%- include('./partials/layout/header') %>
<div class="container">
    <div class="row">
        <div class="col-md-12 py-5">
            <div class="error-template text-center">
                <h1>404</h1>
                <h2>Page not found</h2>
                <b>
                    Oops, something went wrong.
                </b>
                <p>The page you are looking for might have been removed had its name changed or is temporarily
                    unavailable</p>
                <div class=" error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home" aria-hidden="true"></i>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/layout/footer') %>