<script>
    function countPostLength(event, currentElementID) {
        var length = event.value.length;
        var current = document.getElementById(currentElementID);
        current.innerHTML = length;
    }
</script>
</body>

</html>